 $lightBlue:      #2166FC;
 $hotBlue:        #1FCBFF;
 $darkGrey:       #404040;
 $grey:           #8C8C8C;
 $lightGrey:      #C2C2C2; 
 $backgroundGrey: #575757;
 $hotPink:        #F73B7A;
 $hotGreen:       #2FDE49;
 $purple:         #B03BFF;