@import "colors";
@import "variables";

html {
  background: $backgroundGrey;
  background-image: -moz-radial-gradient(center center, circle cover, $lightGrey, $darkGrey);
  background-image: -webkit-radial-gradient(center center, circle cover, lightGrey, $darkGrey);
  background-size: cover;
  z-index: 0;
}

body {
  width       : 90%;
  margin      : 0 auto;
  font-family : 'aleolight';
}

hr {
  margin-bottom: 30px;
}

/* TEXT SPECIFIC */

@font-face {
  font-family: 'aleolight';
  src: url('/assets/aleo-light-webfont.ttf');
  font-weight: normal;
  font-style: normal;
}

.unstyled-link {
  text-decoration: none;
}
.pink {
  color: $hotPink;
}

.green {
  color: $hotGreen;
}

.hot-blue {
  color: $hotBlue;
}

.purple {
  color: $purple;
}

h1 {
  padding: 0;
  margin: 0;
}

/* LAYOUT */

.row {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 0;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.unit {
  display: inline-block;
}

.span1 {
  width: $unitWidth;
}

.span2 {
  width: 2 * $unitWidth;
}

.span3 {
  width: 3 * $unitWidth;
}

.span4 {
  width: 4 * $unitWidth;
}

.span5 {
  width: 5 * $unitWidth;
}

.span6 {
  width: 6 * $unitWidth; 
}

/* COMPONENTS ON PAGE */

#main-content {
  width: 80%;
  float      : right;
  z-index: 5;

  .entry {
    box-shadow: 0px 0px 10px #AAAAAA;
    padding: 1em;
    background: white;
    margin-bottom: 2em;

    .entry-title {
      font-size  : 2em;
      padding-top: 5px;
      color      : $darkGrey;
      float      : left;
    }

    .timestamp {
      font-size : 0.8em;
      color     : $lightBlue;
      text-align: right;
      float     : right;
      margin-top: 1.7em;
      margin-right: 2em;
    }

    .entry-body {
      margin-left: 3em;
      margin-right: 4em;
      line-height: 1.4;

      .inline {
        display: inline;
      }

    }
  }
}

#side-column {
  float       : left;

  img {
    box-shadow: 0 0 13px $purple;
  }

  p {
    background-color: white;
    width: 170px;
    padding: 10px;
    box-shadow: 0 0 10px $purple;
  }
}

.css-box {
   border: 1px solid $hotBlue;
}

/* DETAILS */
.soften {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));

}