<!DOCTYPE html>
<html>
<head>
  <title>Kat's learning rails and JS!</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="row">
      <h1><a class="purple unstyled-link" href="http://twitter.com/thekataquino">Kat</a> learns <span class="pink">JS</span>, <span class="hot-blue">CSS</span>, and <span class="green">Rails</span></h1>
    </div>
    
  </header>
  <hr>
  <%= javascript_include_tag "application" %>

  <%= yield %>

 

</body>
</html>
